<!-- Importer le header en EJS -->
<%- include('statics/header') -%>

<main>
    <section>
        <h1>Oups, il y a une erreur !</h1>
    </section>
</main>

<!-- Importer le footer en EJS -->
<%- include('statics/footer') -%> 