<!--
   Créer un formulaire d'inscription 
   A ajouter dans la page d'accueil
-->

<form action="/register" method="POST">

    <label for="email">Email</label>
    <input type="email" name="email" required minlength="5" value="julien@dwsapp.io">

    <label for="givenName">Prénom</label>
    <input type="text" name="givenName" required minlength="2" value="Julien">

    <label for="familyName">Nom</label>
    <input type="text" name="familyName" required minlength="2" value="Noyer">

    <label for="password">Mot de passe</label>
    <input type="password" name="password" required minlength="5" value="azertyuiop">

    <button type="submit">Inscription</button>

</form>