<!-- 
    Créer le formulaire de connexion
-->

<form action="/post" method="POST">

    <label for="headline">Titre</label>
    <input type="text" name="headline" required minlength="2" value="Mon super titre">

    <label for="body">Contenu</label>
    <textarea name="body" required minlength="2">Mon super contenu</textarea>

    <button type="submit">Ajouter</button>

</form>