        <footer>
            <p>Under <a href="https://en.wikipedia.org/wiki/WFPL" target="_blank">WFPL</a> - &copy; 2021 <a href="https://www.linkedin.com/in/julien-n-21219b28/" target="_blank">Julien Noyer</a> / <a href="https://dwsapp.io" target="_blank">dwsapp.io</a></p>
        </footer>
    </body>
</html>  